body{
    margin: 0;
    border: 0;
}
.whatsapp{
   position: relative;
   background-color: #cdd1d4;
}
.green-container{
    width: 100%;
    height: 100px;
    background-color: #009688;
    position: fixed;
}
.whatsapp-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.whatsapp-container-contact{
    height: 100vh;
    width: 412px;
    background-color: #fff;
    z-index: 100;
    border-right: 1px solid #ccc;   
}
.profile{
    height: 59px;
    width: 100%;
    background-color: #EDEDED;
    position: relative;
}
.profile-container{
    width: 90%;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
}
.profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#cursor{
    cursor: pointer;
}
.notification{
    display: flex;
    gap: 10px;
}
.notification img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.tempnotification{
    width: inherit;
    background-color: #9DE1FE;
    padding-top: 14px;
    padding-bottom: 16px;
}
.temp-notification{
    width: 95%;
    margin: 0 auto;
    background-color: #9DE1FE;
    align-items: center;
    display: flex;
    
    gap: 20px;
}
.bell{
    height: 48px;
    width: 49px;
    background-color: #F5FCFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bell img{
    height: 30px;
    width: 30px;
}
.contents{
    display: flex;
    flex-direction: column;
}
.contents p{
    margin: 0;
}
.search{
    background-color: #F6F6F6;
    padding: 10px 15px 10px 15px;
}
.search-container{
    height: 35px;
    width: 96%;
    background-color: #fff;
    border-radius: 40px;
    align-items: center;
    display: flex;
    gap: 30px;
    padding-left: 10px;
}
.search-container img{
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-top: 5px;

}
.search input{
    border: 0;
    border-style: none;
    width: 285px;
}
.search input::placeholder{
    color: #ACACAC;
}
.search-container input:focus{
    outline: none;
    border-style: none;
}
.whatsapp-container-chat{
    height: 100vh;
    width: 956px;
    background-color: #F8F9FA;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.whatsapp-container-chat img{
    height: 250px;
    width: 250px;
}
.chat-info{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.chat-info h1{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #525252;
    margin: 0;
    margin-top: 20px;
}
.chat-info p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000063;
    margin: 0 auto;
    margin-top: 14px;
    width: 75%;
}
.line-space{
    height: 56.5px;
    width: 80%;
    margin: 0 auto;
    margin-top: 34px;
    border-top: 1px solid #ccc;
}
.space-content{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
}
.space-content img{
    width: 21px;
    height: 18px;
}
.space-content span{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000073;
    margin-left: 5px;
}
.space-content a{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0AA545;
}
.chatbox{
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
/*.chat-box:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.chat-box:hover .h4 {
    display: block;
}*/
.chatbox::-webkit-scrollbar {
    width: 6px;
  }
.chatbox::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;

  }
.chat-box{
    display: flex;
    height: 70px;
    align-items: center;
}
.image-box{
    height: 72px;
    width: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-box img{
    height: 49px;
    width: 49px;
    border-radius: 50%;
}
.chatname{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.chatname-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatname span{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chatname p{
    margin: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000099;
    width: 70%;
   
    overflow: hidden;
    
}
#zoom{
    cursor: pointer;
}
#change{
    cursor: pointer;
}
.down-arrow{
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    
}
.h4{
   display: none;
   margin: 0;
   font-size: 26px;
   margin-right: 10px; 
}
.down-arrow img{
    height: 10px;
    width: 15px;
    
}
.bottom-color{
    width: 325px;
    height: 1px;
    background-color: #F5F5F5;
    margin-top: 11px;
}
.chatname a{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000073;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.menubar{
     padding-top: 10px;
     padding-bottom: 10px;
     width: 180px;
     background-color: #fff;
     position: absolute;
     top: 50px;
     left:370px;
     overflow: visible;
     z-index: 11212;
     display: none;
     box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px, rgba(0, 0, 0, 0.16) 0px 2px 10px 0px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(102, 102, 102);
     border-radius: 4px;
}
.men1{
    padding: 10px 10px 8px 30px;
}
.men1:hover {
    cursor: pointer;
    background-color: #ccc;
}
.menubar1{
     padding-top: 10px;
     padding-bottom: 10px;
     width: 190px;
     background-color: #fff;
     overflow: visible;
     z-index: 11212;
     box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px, rgba(0, 0, 0, 0.16) 0px 2px 10px 0px;
     display: none;
     position: fixed;
     color: rgb(102, 102, 102);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     border-radius: 4px;
}
.men{
    padding: 12px 20px 10px 30px;
    
}
.men:hover {
    cursor: pointer;
    background-color: #ccc;
}
.profile-click{
    width: 413px;
    background-color: #EDEDED;
    display: none;
    z-index: 100000;
    height: 100vh;
}
.partition{
    
    display: flex;
    flex-direction: column;
}
.partition-top{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 20px;
    padding-top: 58px;
    padding-bottom: 10px;
    background-color: #00BFA5;
}
.partition-top img{
       height: 30px;
       width: 30px;
}
.partition-top h1{
    color: #fff;
    font-size: 20px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.partition-bottom{
    height: 549px;
    background-color: #EDEDED;
    overflow-y: scroll;
}
.imagediv{
     padding-top: 30px;
     padding-bottom: 30px;
     text-align: center;
}
.imagediv img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.textdiv{
    background-color: #fff;
}
.pro-name{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #009688;
    width: 90%;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.name-edit{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 22px;
    color: rgba(0, 0, 0, 0.45);
}
.name-edit span{
    font-size: 17px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name-edit img{
    height: 20px;
    width: 20px;
}
.spandiv{
      color: rgba(0, 0, 0, 0.45);
      width: 80%;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 30px;
}
.spandiv span{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textdiv1{
    background-color: #fff;
    margin-bottom: 20px;
}
.pro-name1{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #009688;
    width: 90%;
    text-align: left;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
.name-edit1{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 22px;
    color: #000;
}
.name-edit1 span{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
.name-edit1 img{
    height: 20px;
    width: 20px;
}
.partition-bottom::-webkit-scrollbar {
    width: 6px;
  }
.partition-bottom::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
}
.wallpaper{
    width: 953px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
   height:100vh;
    position: relative;
}
.wallpaper-container{
   width: 100%;
   display: flex;
   height: 100vh;
   flex-direction: column;
}
.wallpaper-container-middle{
background-image: url(capture3.png);   
background-size: cover;
height: 100%;
width: auto;
padding: 0px 30px;
overflow-y: scroll;
display: flex;
flex-direction: column;
}
.msg-div{
    display: flex;
    width: fit-content;
    padding: 2px 5px;
    border:1px solid transparent;
    border-radius: 8px;
    margin: 5px 0px;
    background-color: rgb(196, 247, 192);
    align-self: flex-end;
    justify-self: flex-end;
    align-items: center;
    flex-direction: column;
}
.msg-div1{
    display: flex;
    width: fit-content;
    padding: 2px 5px;
    border:1px solid transparent;
    border-radius: 8px;
    margin: 5px 0px;
    background-color: rgb(253, 253, 253);
    align-self: flex-start;
} 
.wallpaper-container-top{
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 9px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wallpaper-container-top-content{
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin: 0 auto;
}
.wallpaper-container-top-content-left{
    display: flex;
    gap: 15px;
}
.wallpaper .image{
    height: 40px;
    width: 40px;
}
.wallpaper-container-top-content-left img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.names{
    display: flex;
    flex-direction: column;
    gap: 0;
    cursor: pointer;
}
.wallpaper-container-top-content-right{
    display: flex;
}
.magnifier{
    height: 40px;
    width: 40px;
    align-items: center;
}
.magnifier img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#dot3{
    height: 40px;
    width: 30px;
}
.wallpaper-container-bottom{
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 8px;
    align-self: flex-end;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
}
.wallpaper-container-bottom-content{
    display: flex;
    align-items: center;
    width: 97%;
    margin: 0 auto;
    gap: 30px;
}
.wallpaper-container-bottom-content-image{
    display: flex;
    align-items: center;
    gap: 15px;
}
#pin{
    height: 24px;
    width: 24px;
    transform: rotate(10deg);
}
#smile{
    height: 26px;
    width: 26spx;
}
.wallpaper-container-bottom-content-input{
    display: flex;
    align-items: center;
    gap: 20px;
}
.wallpaper-container-bottom-content-input input{
    border: 0;
    border-style: none;
    width: 779px;
    height: 42px;
    border-radius: 40px;
}
.wallpaper-container-bottom-content-input input::placeholder{
    color: #ACACAC;
    padding-left: 20px;
    font-size: 16px;
}
.wallpaper-container-bottom-content-input input:focus{
    outline: none;
    border-style: none;
}
#online{
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
#named{
    font-size: 16px;
    font-weight: 400;
}
.close{
    height: 30px;
    width: 30px;
    padding-left: 21px;
}
#close1{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.profileshow{
    height: 100vh;
    width: 498px;
    background-color: #EDEDED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 100;
    display: none;
    border-left: 1px solid #ccc;
}
.profileshow-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profileshow-container-div1{
    display: flex;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 17.38px;
}
.profileshow-container-div1 > div > img{
    height: 20px;
    width: 20px;
}
.profileshow-container-div1 > div > span{
    font-size: 17px;
    
}
.profileshow-container-div2{
    display: flex;
    flex-direction: column;
    height: 91vh;
    overflow-y: scroll;
}
.profileshow-container-div2::-webkit-scrollbar{
    width: 6px;
}
.profileshow-container-div2::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
}
.profileshow-container-div2-profile{
    background-color: #fff;
}
.profileshow-container-div2-profile-name{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 19px;
}
.profileshow-container-div2-profile-name span{
    font-size: 19px;
}
.profileshow-container-div2-profile-name label{
    font-size: 14px;
    color: #00000073;
}
.kumar{
    text-align: center;
    padding-top: 28px;
    padding-bottom: 20px;
}
#kumar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.profileshow-container-div2-profile-media{
      flex-direction: column;
      padding: 14px 30px 10px 30px;
      background-color: #fff;
      margin-top: 10px;
}
.profile-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}
.profile-media > span{
    font-size: 14px;
    color: #009688;
}
.profile-media > img{
    height: 15px;
    width: 10px
}
.profile-media-links{
    color: #00000073;
    padding-bottom: 30px;
    padding-left: 90px;
    font-size: 14px;
}
.new{
    height: 100vh;
    width: 413px;
    z-index: 1000000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-right: 1px solid #ccc;
    display: none;
}
.new-container{
    height: 100px;
    width: 100%;
   
}
.new-container-top{
    display: flex;
    gap: 30px;
    padding-left: 20px;
    padding-top: 78px;
    padding-bottom: 14px;
    background-color: #00BFA5;
    z-index: 10000;
    align-items: flex-end;
}
.new-container-top img{
       height: 25px;
       width: 25px;
}
.new-container-top h1{
    color: #fff;
    font-size: 20px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.new-container-bottom{
    display: flex;
    height: 73vh;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    overflow: auto;
}
.new-container-bottom-freq{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(240, 237, 237);
}
.new-container-bottom-freq >div{
    padding-left: 10px;
}
.new-container-bottom-freq-text{
    font-size: 16px;
    color: #009688;
    padding: 30px 0px 21px 32px;
}
.new-container-bottom-contact{
    display: flex;
    gap: 10px;
    padding-left: 15px;
}
.new-container-bottom-contact-image{
    display: flex;
    align-items: center;
}
.new-container-bottom-contact-name{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(240, 237, 237);
    height: 71px;
    width: 100%;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.new-container-bottom-contact-name span{
    font-size: 17px;
}
.new-container-bottom-contact-name label{
    font-size: 14px;
    color: #00000099;
}
.new-container-bottom::-webkit-scrollbar{
    width: 6px;
}
.new-container-bottom::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
.overflow{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}